<!DOCTYPE html>
<html>
<%include par/head %>
<%include par/nav%>
  <body>

<div class="container-fluid" id="bei">
<div class="row">
    <!-- row -->
<div class="col">
<!-- col -->
<h3 align="center"><%= title %></h3>
</div><!-- head -->
   </div><!-- col -->
   </div><!-- row -->

<div class="row">

    <div class="col-md-2 col-sm-12" id="bei"> 

    <% if(usr){ %>
    <br>
    <span class="badge badge-info">
        <%= usr %></span>
    <% include par/left %>
    <% include par/out %>
    <% } else { %>
    <span class="badge badge-info">
        no usr</span><br><br>
    <% include par/login %>
    <% } %>


</div><!-- col2 -->

<div class="col-md-10 col-sm-12" id="ali">
<%if(typblo){%>
<div class="table-responsive">
<table class="table">
    <tr class="table-info"><td>title</td><td>term</td><td>id</td>
    </tr>
<%for (var i=0;i<typblo.length;i++){%>

    <tr><td>      
<form method="post" action="/res-<%=typblo[i].rowid%>">
<input type="hidden" name="id" value="<%= typblo[i].rowid %>">
<%=typblo[i].title %>
<input type="submit" class="btn btn-info" value="submit" >

</form>
  </td><td>
      <%=typblo[i].term%>
  </td><td>

      <%=typblo[i].rowid%>
  </td></tr>
<%}%>
</table>
</div><!-- tab res-->

      <%}else{%>      no post      <%}%>

</div><!-- col10-->

    
</div><!-- row end -->
</div>
  </body>
</html>
